body
{
    background-color: #9840FF;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.p
{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.videO
{
    grid-row-start: 2;
    grid-row-end: 3;
}
p
{
    text-align: justify;
    margin: 3%;
}
h2
{
    display: flex;
    justify-content: center;
}